$bule: #1890ff;

.main-layout {
    height: 100%;
    overflow: auto;
    &-body {
        height: calc(100% - 62px);
        display: flex;
        padding: 16px 24px;
        background-color: rgba(221, 221, 221, 0.5);
        .body-left {
            flex: 0 0 70%;
            width: 70%;
        }
        .body-right{
            flex: 1;
        }
    }
    .sticky {
        &-wrapper {
            flex-direction: column;
        }
        &-content {
            flex: 1;
            display: flex;
        }
    }
}