$bule: #1890ff;

.main-layout {
    height: 100%;
    overflow: auto;
    &-body {
        height: calc(100% - 62px);
        overflow: hidden;
        padding: 16px 24px;
        background-color: rgba(221, 221, 221, 0.5);
        &.sticky-wrapper {
            display: flex;
            flex-direction: column;
            .sticky-content {
                flex: 1;
                display: flex;
            }
            .body-left {
                width: 70%;
            }
            .body-right{
                width: 30%;
                .name-avatar {
                    padding-bottom: 10px;
                    margin-left: 24px;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    .avatar-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 210px;                    
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}