.comment-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0; 
    border-bottom: 1px solid #ccc;
    &-summary {
        display: flex;
        flex-direction: column;
    }
    &-title {
        font-size: 18px;
        font-weight: bold;
    }
    &-comment-count {
        font-size: 12px;
    }
    &-operation {
        cursor: pointer;
        color:#1890ff;
    }
}