.article-viewer {
    overflow: hidden;
    &-left {
        // flex: 0 0 70%;
        float: left;
        width: 70%;
        padding: 24px;
    }
    &-right {
        // flex: 1;
        position: fixed;
        left: 70%;
        width: 30%;
        margin-top: 130px;
        border-left: 1px solid #eee;
    }
    &-title {
        text-align: center;
        font-size: 34px;
    }
}