.article-detail {
    min-height: 100%;
    &.sticky-wrapper {
        display: flex;
        flex-direction: column;
        .sticky-content {
            flex: 1;
        }
    } 
}

/* marrdown css*/

img {
    width: 100%;
}