.article-detail {
    min-height: 100%;
    &.sticky-wrapper {
        display: flex;
        flex-direction: column;
        .sticky-content {
            flex: 1;
        }
    } 
    &-comments {
        width: 70%;
        padding: 24px;
        &-summary {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 8px;
            border-bottom: 1px solid #ccc;
        }
    }
}

/* markdown css*/

img {
    width: 100%;
}