$normalSize: 160px;
$smallSize: 50px;

@mixin cube($w) {
    content: '';
    position: absolute;
    width: $w;
    height: $w;
}

@mixin highlight ($w) {
    position: absolute;
    width: $w;
    height: $w;
    left: -$w;
    top: 0;
    background: linear-gradient(90deg, transparent 15%,  #fff);
    clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
    z-index: 3;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(normalHighlightKeyframes) {
    0%   { 
        transform: translateX(-$normalSize);
    }
    27.27% {
        transform: translateX(-$normalSize);
    }
    72.73% {
        transform: translateX(2 * $normalSize);
    }
    100% { 
        transform: translateX(2 * $normalSize);
    }
}

@include keyframes(smallHighlightKeyframes) {
    0%   { 
        transform: translateX(-$smallSize);
    }
    27.27% {
        transform: translateX(-$smallSize);
    }
    72.73% {
        transform: translateX(2 * $smallSize);
    }
    100% { 
        transform: translateX(2 * $smallSize);
    }
}

@include keyframes(heartbeat) {
    0%   { 
        transform: scale(1);
    }
    27.27% {
        transform: scale(1.2);
    }
    72.73% {
        transform: scale(1.2);
    }
    100% { 
        transform: scale(1);
    }
}


.user-headpic {
    position: relative;
    display: block;
    width: $normalSize;
    height: $normalSize;
    background: 
        url('../../assets/avatar.jpg')
        center/cover
        no-repeat;
    border-radius: 100%;
    border: 2px solid silver;
    overflow: hidden;
    &:after {
        @include cube($normalSize);
        @include highlight($normalSize);
    }
    &.starring {
        animation: heartbeat 4s linear infinite;
        &:after {
            animation: normalHighlightKeyframes 2s linear infinite;
        }
    }
    &.avatar {
        width: $smallSize;
        height: $smallSize;
        &:after {
            @include cube($smallSize);
            @include highlight($smallSize);
        }
        &.starring {
            animation: heartbeat 4s linear infinite;
            &:after {
                animation: smallHighlightKeyframes 2s linear infinite;
            }
        }
    }
}


.avatar-centered {
    display: inline-block;
}